<mat-card class="movie-details-container" *ngIf="movie">
  <mat-card-header>
    <mat-card-title>{{ movie?.title | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{
      movie?.release | date: "fullDate"
    }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="movie-details">
    <div class="description">
      <span>{{ movie?.description | titlecase }}</span>
    </div>
    <img class="movie-image" [src]="movie?.image" [alt]="movie?.description" />
  </mat-card-content>
</mat-card>
