.movie-details-container {
  .movie-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    img.movie-image {
      width: 257px;
      margin-top: 25px;
      padding-bottom: 20px;
    }
    @media only screen and (max-width: 600px) {
      img.movie-image {
        width: 100%;
      }
    }
    .description {
      line-height: 20px;
      font-size: 15px;
    }
  }
}
