@import "../../../styles.scss";
.navbar {
  height: $navbar-height;
  .logo-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-menu {
    .active {
      color: $accent-color;
    }
    .link-icon {
      margin: 0 8px;
    }
  }
}
