@import "../../../styles.scss";
.form-container {
  @include section-container();
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media only screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
  .new-movie-form {
    display: flex;
    flex-direction: column;
    mat-form-field {
      margin-top: 15px;
    }
  }
}
